<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<style>
			@import url("/!/static/css/common.css");
		</style>
		<title>{{block "title" .}}Wikinote{{end}}</title>
	</head>
	<body>
		<header>
			<!-- logo -->
			<div class="container"> <!-- margin: 0rem 3rem -->
				<h1>
					<a id="logo" href="/">Wikinote</a>
				</h1>
				<form action="/!/search" method="GET">
					<!-- TODO icon -->
					<input type="text" placeholder="Search" name="q"/><button type="submit">&#x1F50D;</button>
					<!--input type="submit" value="Search"/-->
				</form>
				<nav id="breadcrumbs">
					{{ range .breadcrumb }}
					/ <a href="{{.Path}}">{{ .Name }}</a>
					{{ end }}
				</nav>
				<menu>
					<!-- menu -->
					{{ template "menu" . }}
				</menu>
			</div>
		</header>
		<div class="page">
			<article class="container">
				{{ template "contents" . }}
			</article>
			<footer class="container">
				Powered by <a class="label" href="https://github.com/bluemir/wikinote">wikinote</a>
			</footer>
		</div>
		<!-- body -->
	</body>
</html>

