<!DOCTYPE html>
<html>
<head>
	<title>Wikinote</title>
	{{ template "snippet/header.html" .Context }}
</head>
<body>
	{{ template "snippet/navigation-bar.html" . }}
	<main>
		<section page>
			{{ template "snippet/editor/tabs.html" .}}
			<h2>Delete note: '{{.Path}}'</h2>
			<p>Note를 삭제하려 하고 있습니다.</p>
			<p>삭제된 Page는 복구 할수 없습니다.</p>
			<p>삭제하려면 Note 의 전체 Path('{{.Path}}') 를 입력창에 입력하세요.</p>
			<form method="delete">
				<input pattern="^{{.Path}}$" />
				<button>Delete Note</button>
			</form>
		</section>
	</main>
</body>
</html>
