<!DOCTYPE html>
<html>
<head>
	<title>Wikinote</title>
	{{ template "snippet/header.html" .Context }}
</head>
<body>
	{{ template "snippet/navigation-bar.html" . }}
	<main>
		<section page>
			<h1>Search Result</h1>
			<p>total: {{.Data.Total }}</p>
			<table>
				<thead>
				</thead>
				<tbody>
					{{  range .Data.Files }}
					<tr>
						<td colspan="2">
							<a href="{{.FileName}}">{{.FileName}}</a>
						</td>
					</tr>
					{{ range .Items }}
					<tr>
						<th>{{.Line}}</th>
						<td>{{.Text}}</td>
					</tr>
					{{ end }}
					{{ end }}
				</tbody>
			</table>
		</section>
	</main>
</body>
</html>
