<!DOCTYPE html>
<html>
	<head>
		<title>Wikinote / admin</title>
		{{ template "snippet/header.html" .Context }}
	</head>
	<body>
		{{ template "snippet/navigation-bar.html" . }}
		<main>
			<section page>
				<ul>
					<li>
						<a href="/-/admin/common">Common</a>
					</li>
					<li>
						<a href="/-/admin/iam/users" >IAM</a>
					</li>
					<li>
						<a href="/-/admin/plugins"   >Plugins</a>
					</li>
					<li>
						<a href="/-/admin/messages"  >Messages</a>
					</li>
					<li>
						<a href="/-/admin/metadata"  >Metadata</a>
					</li>
				</ul>
			</section>
		</main>
	</body>
</html>
