<!DOCTYPE html>
<html>
<head>
	<title>Wikinote</title>
	{{ template "snippet/header.html" . }}
</head>
<body>
	{{ template "snippet/navigation-bar.html" . }}
	<main>
		<section page>
			<h1>Metadata</h1>
			<table>
			<thead>
					<tr>
						<th>Path</th>
						<th>Key</th>
						<th>Value</th>
					</tr>
				</thead>
				<tbody>
					{{ range .Data.Items }}
					<tr>
						<td>{{ .Path }}</td>
						<td>{{ .Key }}</td>
						<td>{{ .Value }}</td>
					</tr>
					{{ end }}
				</tbody>
			</table>

		</section>
	</main>
</body>
</html>
