@import "./common/reset.css";
@import "./common/color.css";
@import "./pages/markdown.css";

*:not(:defined) {
    display:none;
}

html {
    background: var(--contents-padding-bg-color);
}
html, body {
    margin: 0;
}
body {
    overflow-y: scroll;
}

