{{define "menu"}}
<ul>
	{{ if not .IsSpecial }}
	<li><a href="{{ .Path }}?edit">Edit</a></li>
	{{ end }}
	<li>
		<a href="">More</a>
		<ul class="sub">
			<li><a href="/!/delete{{ .Path }}">Delete</a></li>
			<li><a href="{{ .Path }}?attach">Attach</a></li>
			<li><a href="/!/move{{ .Path }}">Move</a></li>
			<li><a href="/!/history{{ .Path }}">History</a></li>
			<li><a href="/!/backlink{{ .Path }}">Back Links</a></li>
			<li><a href="{{ .Path }}?publish">Publish</a></li>
			<hr>
			<!-- TODO make split -->
			{{ if .IsLogin }}
			<li><a href="/!/auth/logout">Logout</a></li>
			{{ else }}
			<li><a href="/?login">Login</a></li>
			{{ end }}
			<li><a href="/!/auth/register">Sign Up</a></li>
			<li><a href="/!/user">Users</a></li>
		</ul>
	</li>
</ul>
{{end}}

