<!DOCTYPE html>
<html>
<head>
	<title>Wikinote / IAM / Assigns</title>
	{{ template "snippet/header.html"}}
</head>
<body>
	{{ template "snippet/navigation-bar.html" . }}
	<main>
		<section page>
			{{ template "snippet/iam/tabs.html" .}}
			<p>Group 은 기본적으로 같은 이름의 Role 에 할당 되어 되어 있습니다.</p>
			<table>
				<thead>
					<th>Kind</th>
					<th>Name</th>
					<th>Roles</th>
					<th></th>
				</thead>
				<tbody>
					{{ range .Data.assigns }}
					<tr>
						<td>{{ .Subject.Kind }}</td>
						<td>{{ .Subject.Name }}</td>
						<td>{{ .Roles }}</td>
						<td>
							<a href="/-/admin/iam/assigns/{{ .Subject.Kind }}/{{ .Subject.Name }}">Edit</a>
						</td>
					</tr>
					{{ end }}
				</tbody>
			</table>
		</section>
	</main>
</body>
</html>
