<!DOCTYPE html>
<html>
<head>
	<title>Wikinote / IAM / Groups</title>
	{{ template "snippet/header.html"}}
</head>
<body>
	{{ template "snippet/navigation-bar.html" . }}
	<main>
		<section page>
			{{ template "snippet/iam/tabs.html" .}}
			<form method="post">
				<p>Create new group</p>
				<input name="name" />
				<button>Create Group</button>
			</form>
			<hr />
			<table>
				<thead>
					<th>Name</th>
					<th></th>
				</thead>
				<tbody>
					{{ range .Data.groups }}
					<tr>
						<td><a href="/-/admin/iam/groups/{{.Name}}">{{.Name}}</a></td>
						<td><a href="/-/admin/iam/groups/{{.Name}}">Edit</a></td>
					</tr>
					{{ end }}
				</tbody>
			</table>
		</section>
	</main>
</body>
</html>
