<!DOCTYPE html>
<html>
<head>
	<title>Wikinote / IAM / Groups</title>
	{{ template "snippet/header.html" .Context }}
</head>
<body>
	{{ template "snippet/navigation-bar.html" . }}
	<main>
		<section page>
			{{ template "snippet/iam/tabs.html" .}}
			<h2>{{.Data.group.Name}}</h2>
			<h3>Members</h3>
			<table>
				<thead>
					<th>Name</th>
					<th></th>
				</thead>
				<tbody>
					{{ range .Data.group.Members }}
					<tr>
						<td>{{ .Name }}</td>
					</tr>
					{{ end }}
				</tbody>
			</table>
			<hr />
			<form method="DELETE">
				<p>Group 을 삭제 하시려면 Group 이름을 아래 입력창에 입력 해 주세요.</p>
				<input pattern="^{{ .Context.Param "groupName" }}$" />
				<button>Delete Group</button>
			</form>
		</section>
	</main>
</body>
</html>
