<!DOCTYPE html>
<html>
<head>
	<title>Wikinote / IAM / Groups</title>
	{{ template "snippet/header.html"}}
</head>
<body>
	{{ template "snippet/navigation-bar.html" . }}
	<main>
		<section page>
			<c-link-tabs>
				<a href="/-/admin/iam/users"    >Users</a>
				<a href="/-/admin/iam/groups"   >Groups</a>
				<a href="/-/admin/iam/roles"    >Roles</a>
				<a href="/-/admin/iam/assigns"  >Assigns</a>
			</c-link-tabs>
			<h2>{{.Data.group.Name}}</h2>
			<h3>Members</h3>
			<table>
				<thead>
					<th>Name</th>
					<th></th>
				</thead>
				<tbody>
					{{ range .Data.group.Members }}
					<tr>
						<td>{{ .Name }}</td>
					</tr>
					{{ end }}		
				</tbody>
			</table>
		</section>
	</main>
</body>
</html>
