<!DOCTYPE html>
<html>
<head>
	<title>Wikinote / IAM / Groups</title>
	{{ template "snippet/header.html"}}
</head>
<body>
	{{ template "snippet/navigation-bar.html" . }}
	<main>
		<section page>
			{{ template "snippet/iam/tabs.html" .}}
			<h2>{{.Data.group.Name}}</h2>
			<h3>Members</h3>
			<table>
				<thead>
					<th>Name</th>
					<th></th>
				</thead>
				<tbody>
					{{ range .Data.group.Members }}
					<tr>
						<td>{{ .Name }}</td>
					</tr>
					{{ end }}
				</tbody>
			</table>
		</section>
	</main>
</body>
</html>
