<!DOCTYPE html>
<html>
<head>
	<title>Wikinote / IAM / Roles</title>
	{{ template "snippet/header.html" .Context }}
</head>
<body>
	{{ template "snippet/navigation-bar.html" . }}
	<main>
		<section page>
			{{ template "snippet/iam/tabs.html" .}}
			<form method="post">
				<p>Create new role</p>
				<input name="name" />
				<button>Create Role</button>
			</form>
			<hr />
			<table>
				<thead>
					<th>Name</th>
					<th>Group</th>
				</thead>
				<tbody>
					{{ range .Data.roles }}
					<tr>
						<td><a href="/-/admin/iam/roles/{{.Name}}">{{ .Name }}</a></td>
						<td><pre>{{ .Rules | yaml }}</pre></td>
					</tr>
					{{ end }}
				</tbody>
			</table>
		</section>
	</main>
</body>
</html>
