<!DOCTYPE html>
<html>
<head>
	<title>Wikinote / IAM / Roles</title>
	{{ template "snippet/header.html"}}
</head>
<body>
	{{ template "snippet/navigation-bar.html" . }}
	<main>
		<section page>
			<c-link-tabs>
				<a href="/-/admin/iam/users"  >Users</a>
				<a href="/-/admin/iam/groups" >Groups</a>
				<a href="/-/admin/iam/roles"  >Roles</a>
			</c-link-tabs>
			<table>
				<thead>
					<th>Name</th>
					<th>Group</th>
				</thead>
				<tbody>
					{{ range .Data.roles }}
					<tr>
						<td>{{ .Name }}</td>
						<td><pre>{{ .Rules | yaml }}</pre></td>
					</tr>
					{{ end }}
				</tbody>
			</table>
		</section>
	</main>
</body>
</html>
