<!DOCTYPE html>
<html>
<head>
	<title>Wikinote / IAM / Users</title>
	{{ template "snippet/header.html" .Context }}
</head>
<body>
	{{ template "snippet/navigation-bar.html" . }}
	<main>
		<section page>
			{{ template "snippet/iam/tabs.html" .}}
			<table>
				<thead>
					<th>Name</th>
					<th>Group</th>
				</thead>
				<tbody>
					{{ range .Data.users }}
						<tr>
							<td>
								<a href="/-/admin/iam/users/{{.Name}}">{{ .Name }}</a>
							</td>
							<td>{{ range .Groups }}<span>{{.Name}}</span>{{end}}</td>
						</tr>
					{{ end }}
				</tbody>
			</table>
		</section>
	</main>
</body>
</html>
