<!DOCTYPE html>
<html>
	<head>
		<title>Wikinote</title>
		{{ template "snippet/header.html"}}
	</head>
	<body>
		{{ template "snippet/navigation-bar.html" . }}
		<main>
			<section page>
				{{ template "snippet/editor/tabs.html" .}}
				<form method="post" action="{{.Path}}?file">
					<input placeholder="file name" />
					<input type="file" />
					<button>Upload</button>
				</form>
				<ul>
					{{ range .Data.files }}
					<li><a href="{{.Path}}">{{.Name}}</a></li>
					{{ end }}
				</ul>
			</section>
		</main>
	</body>
</html>
