<!DOCTYPE html>
<html>
<head>
	<title>Wikinote</title>
	{{ template "snippet/header.html"}}
</head>
<body>
	{{ template "snippet/navigation-bar.html" . }}
	<main>
		<section page>
			{{ template "snippet/editor/tabs.html" .}}
			<form method="put" action="{{.Path}}"  enctype="multipart/form-data">
				<textarea
					is="enhanced-textarea"
					name="data"
					indent="tab"
					tab-size="4"
					auto-resize
					submit-shortcut
				>{{ .Data.data }}</textarea>
				<button>Save</button>
			</form>
		</section>
	</main>
</body>
</html>
