<!DOCTYPE html>
<html>
<head>
	<title>Wikinote</title>
	{{ template "snippet/header.html" .Context }}
</head>
<body>
	{{ template "snippet/navigation-bar.html" . }}
	<main>
		<section page>
			<h2>Upload File</h2>
			<p>Replace file '{{.Path}}'</p>
			<!--p>You want <a href="{{.Path}}.md?edit">Editor</a>?</p-->
			<form method="put" enctype="multipart/form-data" action="{{.Path}}?file">
				<input type="file" name="file" multiple />
				<button>Upload</button>
			</form>
		</section>
	</main>
</body>
</html>
