<!DOCTYPE html>
<html>
<head>
	<title>Wikinote</title>
	{{ template "snippet/header.html"}}
</head>
<body>
	{{ template "snippet/navigation-bar.html" . }}
	<main>
		<section page>
			<c-link-tabs>
				<a href="{{ .Path }}?edit"   exact>Edit</a>
				<a href="{{ .Path }}?files"  exact>Files</a>
				<a href="{{ .Path }}?delete" exact>Delete</a>
			</c-link-tabs>
			<form method="post">
				<textarea
					indent-by-tab
					auto-resize
					submit-shortcut
					name="data"
				>{{ .Data.data }}</textarea>
				<button>Save</button>
			</form>
		</section>
	</main>
</body>
</html>