<!DOCTYPE html>
<html>
<head>
	<title>Wikinote</title>
	{{ template "snippet/header.html"}}
</head>
<body>
	{{ template "snippet/navigation-bar.html" . }}
	<main>
		<section page>
			<form method="post">
				<c-input label="username"          name="username" type="text"     placeholder="your nickname. eg) bluemir" ></c-input>
				<c-input label="password"          name="password" type="password" placeholder="min-length: 6" ></c-input>
				<c-input label="password confirm"  name="confirm"  type="password" placeholder="same as password" ></c-input>
				<section>
					<input type="checkbox" id="terms"/>
					<label for="terms"> I read and agree to terms &amp; conditions.</label>
				</section>
				<c-button><button>Create Account</button></c-button>
			</form>
		</section>
	</main>
</body>
</html>
